{% extends "pyramid_blogr:templates/layout.jinja2" %}

{% block title %} {{ entry.title }} {% endblock %}
{% block description %} {{ entry.description }} {% endblock %}

{% block page_title %}
<h1 class="post-title">{{ entry.title }}</h1>
{% endblock %}

{% block extra_css %}
<link href="{{ request.static_url('pyramid_blogr:static/css/blog.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

{% if entry.image_url %}
<p class="col-md-12">
	<img src="{{ entry.image_url }}" class='col-md-12'>
</p>
{% endif %}

{% set public_url = request.public_domain + '/blog/' %}

<div id="share-buttons">
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u=//{{ request.public_domain }}{{ entry.url }}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>

    <!-- Twitter -->
    <a href="https://twitter.com/share?url=//{{ request.public_domain }}{{ entry.url }}&amp;text={{ entry.title }}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
    </a>

    <!-- Google+ -->
    <a href="https://plus.google.com/share?url=//{{ request.public_domain }}{{ entry.url }}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
    </a>

    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=//{{ request.public_domain }}{{ entry.url }}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
    </a>

    <!-- Email -->
    <a href="mailto:?Subject=Reply from {{ entry.title }}&amp;Body=//{{ request.public_domain }}{{ entry.url }}">
        <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
    </a>
</div>
<p>{{ entry.body|safe }}</p>
<hr/>
<p>Posted <strong title="{{ entry.created }}"> {{ entry.created_in_words }}</strong> ago</p>

{% if request.authenticated_userid %}
<p>
    <a href="{{ request.route_url('blog_edit', id=entry.id) }}">Edit entry</a>
</p>
{% endif %}

<p>
    <div id="disqus_thread"></div>
</p>

<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/

var disqus_config = function () {
    this.page.url = 'http://jesusanaya.com/blog/{{ entry.slug }}'; // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = '{{ entry.id }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    this.page.title = '{{ entry.title }}';
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//jesus-anaya.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

{% endblock %}
