{% extends "pyramid_blogr:templates/layout.jinja2" %}

{% block content %}

<h1>{{ entry.title }}</h1>
<hr/>
<p>{{ entry.body|safe }}</p>
<hr/>
<p>Posted <strong title="{{ entry.created }}"> {{ entry.created_in_words }}</strong> ago</p>

{% if request.authenticated_userid %}
<p>
    <a href="{{ request.route_url('blog_action', action='edit', _query={'id':entry.id}) }}">Edit entry</a>
</p>
{% endif %}

{% endblock %}
