{% extends "pyramid_blogr:templates/layout.jinja2" %}

{% block extra_css %}
<link href="{{ request.static_url('pyramid_blogr:static/css/blog.css') }}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: 'textarea',
        plugins: [
            "advlist autolink lists link image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu paste"
        ],
        relative_urls: false,
        convert_urls: false,
        menubar: false,
        statusbar: false,
        toolbar: ("insertfile undo redo | styleselect | bold italic | " +
                  "alignleft aligncenter alignright alignjustify | " +
                  "bullist numlist outdent indent | link table | " +
                  "fullscreen code"),
        entity_encoding : "raw",
        extended_valid_elements : "script[charset|defer|language|src|type]",
    });
</script>
{% endblock %}

{% block content %}
<form action="" method="post" class="form" enctype="multipart/form-data">

    {{ form|safe }}

</form>
<p><a href="{{ request.route_url('home') }}">Go Back</a></p>
{% endblock %}
